@page "/"
@inherits MvvmComponentBase<HomeViewModel>

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>@ViewModel!.Text</p>

<button type="button" class="btn btn-primary" @onclick="() => ViewModel.AddChildCommand.Execute(null)">AddChild</button>

@foreach (string child in ViewModel.GetSortedKeys())
{
    <DynamicComponent @key=@child Type="@typeof(ChildView)" Parameters="@ViewModel.Components[child].Parameters" />
}
