@page "/"
@inherits MvvmComponentBase<IIntroductionPageViewModel>

@if (ViewModel?.Texts is null || !ViewModel.Texts.Any())
{
    <p>Loading...</p>
}
else
{
    @ViewModel.Texts["Introduction to the MVVM Toolkit"].MarkDownToMarkUp()
    @ViewModel.Texts["When should I use this package?"].MarkDownToMarkUp()
}

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await ViewModel!.LoadDocsCommand.ExecuteAsync("Introduction");
    }
}