@page "/MessengerRequest"
@inherits MvvmComponentBase<MessengerRequestPageViewModel>

@if (ViewModel?.Texts is null || !ViewModel.Texts.Any())
{
    <p>Loading...</p>
}
else
{
    @ViewModel.Texts["Using request messages"].MarkDownToMarkUp()

    <TabControl>
        <Panels>
            <TabPanel Title="Sample">
                <div class="mb-3 shadow-none bg-light rounded">
                    <p class="sample--output">Status: @ViewModel.Username</p>
                    <button type="button"
                            class="btn btn-primary" @onclick="() =>
                            ViewModel.RequestCurrentUsernameCommand.Execute(null)">
                        Click to request the username!
                    </button>
                    <button type="button"
                            class="btn btn-primary" @onclick="() =>
                            ViewModel.ResetCurrentUsernameCommand.Execute(null)">
                        Click to reset the local username!
                    </button>
                </div>
            </TabPanel>
            <TabPanel Title="Razor">
                @StaticStrings.MessengerRequest.Sample1Razor.MarkDownToMarkUp()
            </TabPanel>
            <TabPanel Title="C#">
                @StaticStrings.MessengerRequest.Sample1Csharp.MarkDownToMarkUp()
            </TabPanel>
        </Panels>
    </TabControl>
}

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ViewModel!.LoadDocsCommand.ExecuteAsync("Messenger");
            ViewModel.SenderViewModel.IsActive = true; // enable
        }
    }
}