@page "/RedditService"
@inherits MvvmComponentBase<IRedditServicePageViewModel>

@if (ViewModel?.Texts is null || !ViewModel.Texts.Any())
{
    <p>Loading...</p>
}
else
{
    @ViewModel.Texts["Building the Reddit service"].MarkDownToMarkUp()
}

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await ViewModel!.LoadDocsCommand.ExecuteAsync("PuttingThingsTogether");
    }
}