@inherits MvvmComponentBase<HexEntryViewModel>

<div class="form-floating">
    <textarea @bind="ViewModel.HexText" class="form-control" placeholder="Type some hex values here" id="floatingHexarea" style="height: 20rem;"></textarea>
    <label for="floatingHexarea">Hex Text</label>
</div>


<button type="button" class="btn btn-primary" @onclick="ViewModel.SendToAsciiConverterCommand.Execute">Send To Ascii Display</button>