@page "/counter"
@inherits MvvmComponentBase<CounterViewModel>

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @ViewModel.CurrentCount</p>

<button id="click-me" class="btn btn-primary" @onclick="ViewModel.IncrementCount">Click Me</button>
<button id="reset" class="btn btn-secondary ml-2" @onclick="ViewModel.ResetCount">Reset</button>
