@page "/hextranslate"
@inherits MvvmComponentBase<HexTranslateViewModel>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <TextEntry></TextEntry>
        </div>
        <div class="col">
            <HexEntry></HexEntry>
        </div>
    </div>
</div>

@code {

    [Inject(Key = nameof(HexTranslateViewModel))]
    protected override HexTranslateViewModel ViewModel { get; set; } = default!;
}