@inherits MvvmLayoutComponentBase<MainLayoutViewModel>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between">
            <span aria-label="navigation count">Navigation Count: @ViewModel.Counter</span>
            <a href="https://github.com/gragra33/Blazing.Mvvm/" target="_blank">About Blazing.Mvvm</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
