<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Parameter Resolution</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <MvvmNavLink class="nav-link"
                         RelativeUri="?Title=Hello%20World&Count=42&Content=Sample%20Content"
                         TViewModel="ParameterDemoViewModel">
                <span class="oi oi-cog" aria-hidden="true"></span> Parameter Basic
            </MvvmNavLink>
        </div>

        <div class="nav-item px-3">
            <MvvmNavLink class="nav-link"
                         RelativeUri="?Title=Different%20Title&Count=100&Content=New%20Content%20Here"
                         TViewModel="ParameterDemoViewModel">
                <span class="oi oi-cog" aria-hidden="true"></span> Parameter Different
            </MvvmNavLink>
        </div>

        <div class="nav-item px-3">
            <MvvmNavLink class="nav-link"
                         RelativeUri="?Title=No%20Content&Count=5"
                         TViewModel="ParameterDemoViewModel">
                <span class="oi oi-cog" aria-hidden="true"></span> Parameter Null Content
            </MvvmNavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
