@using System.ComponentModel.DataAnnotations
@using CommunityToolkit.Mvvm.ComponentModel

@if (Context.HasErrors)
{
    <ul class="validation-errors">
        @foreach (ValidationResult? message in Context.GetErrors())
        {
            <li class="validation-message">@message</li>
        }
    </ul>
}


@code {

    [Parameter]
    public ObservableValidator Context { get; set; } = null!;
 
    protected override void OnParametersSet()
    {
        Context.ErrorsChanged += (_, _) => StateHasChanged();
        base.OnParametersSet();
    }

}
