@inherits MvvmComponentBase<CounterComponentViewModel>

<div class="card mb-3">
    <div class="card-header">
        <h4 class="mb-0">CounterComponent (Inner Component)</h4>
    </div>
    <div class="card-body">
        <p role="status">Current count: <strong>@ViewModel.Counter</strong></p>

        <div class="btn-group" role="group">
            <button class="btn btn-primary" @onclick="ViewModel.IncrementCounterCommand.Execute">
                <span class="oi oi-plus" aria-hidden="true"></span> Increment
            </button>
            <button class="btn btn-danger" @onclick="ViewModel.DecrementCounterCommand.Execute">
                <span class="oi oi-minus" aria-hidden="true"></span> Decrement
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Counter { get; set; }

    [Parameter]
    public EventCallback<int> CounterChanged { get; set; }
}